.listUtil{
  margin:auto;
  width:950px;
  height:20px;
}
.allCheck{
  float:left;
  height:20px;
  label{
    font:14px/14px "IBM Plex Sans","sans-serif";
    vertical-align: middle;
    cursor:pointer;
    input{
      display: none;
      background: none; border:0 none;
    }
    span{
      display: inline-block;
      width:12px; height:12px; border:1px solid #000000;
      margin-right:10px;
      border-radius: 6px;
      background: none;
      vertical-align: bottom;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -ms-transition: all .2s ease;
      transition: all .2s ease;
    }
    input:checked + span{
      background: #f34a4a;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -ms-transition: all .2s ease;
      transition: all .2s ease;
    }
  }
}
.menuToggle{
  float:right;
  width:20px;
  height:20px;
}
