.search{
  display: block;
  position: relative;
  left: 0; top:-1px;
  width:252px; height:40px;
  border:1px solid #000000;
  box-sizing: border-box;
  background:#f7f7f7;
  margin-bottom:15px;
  input{
    width: 232px;
    padding: 10px;
    background: none;
    border: 0 none;
    font:14px/18px "IBM Plex Sans","sans-serif";
  }
}
