.template{
  width:928px;
  overflow: hidden; padding-bottom: 23px;
  border:1px solid #000000;
  margin:auto;
  margin-top:34px;
  margin-bottom:34px;
  .title{
    width:135px;height:19px;
    background: #000000;
    font:12px/19px "IBM Plex Sans","sans-serif";
    color:#ffffff;
    text-align:center;
  }
  .upLoadWrapper{
    clear:both;
    width:800px;
    margin:auto;
    margin-top:35px;
      .fileUpLoad{
        float:left; width:524px; height:80px; border:1px solid #000000;
        margin-right: 24px; box-sizing: border-box; position: relative;
        color:#777777;
        cursor: pointer;
        span{display: block; text-align: center; font:18px/80px "IBM Plex Sans","sans-serif"; background: url('/assets/icon-plus-add_profile.svg') no-repeat 36% 50%;}
        background-position:0 0;
        background-repeat:no-repeat;
          input{
            width: 100%;
            display: block;
            height: 100%;
            font-size: 0;
            border: 0 none;
            background: 0;
            opacity: 0;
            position: absolute;
            z-index: 1;
            cursor: pointer;
          }
      }
    .utilSelect{
      float:left;
      .addEnglish{
        .englishBtn{float: left; margin-top: -1px; margin-left: -5px; width: 40px; height: 40px; border-right: 1px solid #000000;
          background: url("/assets/icon-plus-add_english.svg") no-repeat 10px 50%;
        }
        width:252px; height:40px; font:14px/37px "IBM Plex Sans","sans-serif";
        text-align: center; cursor: pointer; background:#ffffff;
        color:#000000; box-sizing: border-box; letter-spacing: 3px;
        word-spacing: 4px; border:1px solid #000000;
        }
        .addImg{
          position: relative;
          display: block; width:252px; height:40px; font:14px/38px "IBM Plex Sans","sans-serif"; text-align: center; cursor: pointer; background:#f7f7f7;
          color:#000000; box-sizing: border-box; border:1px solid #000000;
          letter-spacing: 3px; word-spacing: 4px;
          -webkit-transition:all .2s ease;
          -o-transition:all .2s ease;
          -ms-transition:all .2s ease;
          -moz-transition:all .2s ease;
          transition:all .2s ease;
          &:hover{ background: #ffb900;}
          input{
            width: 100%; display: block; height: 100%; font-size: 0; border: 0 none; background: 0;
            opacity: 0; position: absolute; z-index: 1; cursor: pointer;
          }
        }
      }
    }
  //공통 scss
  .templateWrapper{
    overflow: hidden;
    clear:both;
    width:800px;
    margin:auto;
  }
    .inputText{
      margin-top:11px; width:800px; height:80px; border:1px solid #000000;
      box-sizing: border-box; text-align: center; background:#f7f7f7;
      input{
        display: block; margin: auto;
        width:769px; height: 50px; padding: 14px;
        text-align: center; background: none; border: 0 none;
        font:14px/50px "IBM Plex Sans","sans-serif";
        resize:none;
      }
    }
    .textArea{
      margin-top:11px; width:800px; height:340px; border:1px solid #000000;
      box-sizing: border-box; text-align: center; background:#f7f7f7;
      textarea{
        width:769px; height: 310px; padding: 14px;
        text-align: justify; background: none; border: 0 none;
        font:14px/18px "IBM Plex Sans","sans-serif";
        resize:none;
      }
    }
  }
  .publish{
    width:800px; height:40px;
    margin:auto;
    margin-top:24px;
    position:relative;
    .text{
      position: absolute;
      left: 200px; bottom: 14px;
      font:10px/13px "IBM Plex Sans","sans-serif";
    }
    .deleteBtn{position: absolute; right:0; top:0;
      width:40px;
      height:40px;
      cursor:pointer;
    }
    button{
      margin:auto;
      display: block;
      width:154px; height:40px;
      text-align: center;
      background:#000000;
      border:0 none;
      color:#ffffff;
      cursor:pointer;
      font:14px/40px "IBM Plex Sans","sans-serif";
    }
}
