.listScroll{
  height:583px;
  overflow-y: scroll;
}
.util{
  height: 72px;
  .select{
    position: absolute;
    right: 342px;
    top: 17px;
    display: inline-block;
    width:154px; height:40px;
    box-sizing: border-box;
    border:1px solid #000000;
    background: #f7f7f7;
    select{
      cursor: pointer;
      display: block;
      margin: auto;
      padding: 0 46px;
      text-align: center;
      font:14px/40px "IBM Plex Sans","sans-serif";
      -webkit-appearance: none;
      -moz-appearance: none; appearance: none;
      border-radius: 0px;
      border:0 none;
      background:none;
    }
  }
  .search{
    position: absolute;
    display: inline-block;
    top: 18px;
    right: 74px;
  }
}
.publish{
  width:100%; height:105px;
  background:#f7f7f7;
  margin:auto;
  .publishBtn{
    width:154px;
    margin:auto;
    padding-top:33px;
  }
}
