.magazineBtn{
  width:154px;
  height:42px;
  text-align: center;
  border:1px solid #000000;
  box-sizing: border-box;
  font:14px/40px "IBM Plex Sans","sans-serif";
  cursor: pointer;
  background:#000000;
  color:#ffffff;
}
