.addMenu{
  width:928px;
  height:92px;
  border:1px solid #000000;
  margin:auto;
  margin-top:34px;
  margin-bottom:13px;
  .addTitle{
    width:135px;height:19px;
    background: #000000;
    font:12px/19px "IBM Plex Sans","sans-serif";
    color:#ffffff;
    text-align:center;
  }
  select{
    display: block;
    margin:auto;
    margin-top:7px;
    width:340px;
    height:40px;
    padding-left:10px;
    background: #f7f7f7;
    text-align: center;
    border:1px solid #000000;
    font:12px/40px "IBM Plex Sans","sans-serif";
    text-align-last: center;
    -o-text-align-last: center;
    -ms-text-align-last: center;
    -webkit-text-align-last: center;
    -moz-text-align-last: center;
  }
}
